<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ content.field_jumbotron_heading }}</h1>
    <p class="lead">{{ content.field_jumbotron_lead }}</p>
  </div>
</div>
