header {
  padding: 1rem;
  background-color: $white;
  color: $black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          display: block;
          padding: 1rem;
        }
      }
    }
  }
}
main {
  margin-top: 88px;
}
body {
  background: $light-grey;
}

footer {
  padding: 1rem;
  background-color: $white;
}
